@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --cor-1: #FF6C1A;
    --cor-2: #A413FF;
    --cor-3: #111111;
    --cor-4: #f2f2f2;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--cor-4);   
}

.capa, .conversao{
    height: 100%;
}

#imgCapa{
    width: 100% ;
    position: relative;
    z-index: -2;
    top: 0;

}

#conteudoCapa{
    width: 45%;
    margin-left: 5em;
    margin-top: 10em;
    position: absolute;
    top: 0;
}

#title{
    font-size: clamp(2em, 1.3rem + 4vw, 7em);
    font-family: Inter;
    font-weight: 400;
    line-height: 1em;
}

#titleSecond{
    font-weight: 400;
}

#sobre{
    font-size: max(1.3rem + 1vw, 1em);
    font-weight: 200;
}

#downloadButton{
    background-color: var(--cor-1);
    color: var(--cor-4);
    padding: 3% 20%;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
    transition: .2s ease-in-out;
}

#downloadButton:hover{
    background-color: var(--cor-2);
    cursor: pointer;
}

.second{
    background-color: var(--cor-4);
    display: flex;
    justify-content: end;
   
}

#imgMockup{
    width: 50%;
}

.text{
    margin-top: 2em;
    width: 50%;
    color: var(--cor-3);
    font-size: clamp(2em, 1.3rem + 4vw, 7em);
    font-weight: 300;
    line-height: 1em;
}

#explaining{
    width: 70%;
    font-size: 1em;   
    font-weight: 200; 
    font-size: clamp(.3em, .2rem + 2vw, .4em);
    line-height: .8em;
}

#imgEnd{
    width: 100% ;
    position: relative;

}

#conteudoFinal{
    width: 45%;
    margin-left: 5em;
    position: absolute;
    margin-top: -35%;
}

#span{
    margin-top: 5em;

}

.section3{
    background-color: var(--cor-2);

}

.blocoDados{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

.dados1, .dados2, .dados3 {
    width: 30%;
    border-radius: 5px;
    background-color: var(--cor-4);
    color: var(--cor-3);
    margin-top: 2em;
    margin-bottom: 2em;
    min-width: 200px;
}

.conteudoDados{
    padding: 10px;
}

.dados3{
    background-color: transparent;
    border: 2px solid var(--cor-4);
}

#chamadaSection3{
    font-size: 1.5em;
    color: var(--cor-4);
}

#SRD{
   margin-left: 40%;
   width: 60%;
   margin-top: -600px;
}



@media screen and (max-width: 800px) {
    #conteudoCapa{
        width: 90%;
        margin-left: 2em;
        margin-top: 10em;
    }
}

@media (min-width: 300px) {
    #title{
      font-size: 2.5em;
    }
    
    #downloadButton{
        width: 90%;
        margin-bottom: 1em;
    } 
    #conteudoCapa{
        margin-top: 90%;
    }
    #sobre{
        font-size: 1.2em
    }
    #conteudoFinal{
        margin-top: -100%;
        width: 80%;
    }
    .conversao{
    
        margin-left: -10%;
    }

    #SRD{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    
    .blocoDados{
        justify-content: center;
        width: 80%;
    }

    #chamadaSection3{
        font-size: 1.2em;
        color: var(--cor-4);
    }

    .second{
        background-color: var(--cor-4);
        display: flex;
        justify-content: end;
       
    }
    
    #imgMockup{
        width: 90%;
        margin-top: 80%;
        left: 100px;
    }
    
    .text{
        margin-top: 2em;
        width: 90%;
        color: var(--cor-3);
        font-size: clamp(2em, 1.3rem + 4vw, 7em);
        font-weight: 300;
        line-height: 1em;
        position: absolute;
    }

    #explaining{
        width: 90%;
        font-size:2em;   
        font-weight: 200; 
        font-size: clamp(.5em, .2rem + 2vw, .4em);
        line-height: 1em;
    }

    .dados1, .dados2, .dados3 {
        width: 100%;
    }
}

@media (min-width: 410px) {
    #conteudoCapa{
        margin-top: 110%;
    }
    #downloadButton{
        width: 100%;
    } 

    #conteudoFinal{
        margin-top: -80%;    
    }

    .blocoDados{
        justify-content: center;
        width: 70%;
    }

    #chamadaSection3{
        font-size: 1.3em;
        color: var(--cor-4);
    }

    #imgMockup{
        width: 90%;
        margin-top: 60%;
        left: 100px;
    }

    .dados1, .dados2, .dados3 {
        width: 100%;
    }
}


@media (min-width: 480px) {
    #title{
      font-size: 3em;
    }
    #downloadButton{
        padding: 3% 40%;
        mask-type: 1em;
    } 
    #conteudoCapa{
        margin-top: 100%;
    }
    #sobre{
        font-size: 1.5em
    }
    #conteudoFinal{
        margin-top: -80%;
        width: 70%;
        margin-left: 21%;
     
    }

    .dados1, .dados2, .dados3 {
        width: 100%;
    }

    .blocoDados{
        justify-content: center;
        width: 60%;
    }

    .dados3{
        background-color: transparent;
        border: 2px solid var(--cor-4);
    }

    #imgMockup{
        width: 90%;
        margin-top: 60%;
        left: 100px;
    }
}
 
  /* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {
    #title{
        font-size: 3em;
    }
    #sobre{
        font-size: 1.5em
    }
    #conteudoCapa{
        margin-top: 8em;
        width: 40%;
    }

    #conteudoFinal{
        margin-top: -41%;
        width: 40%;
        margin-left: 15%;
        
    }

    .dados1, .dados2, .dados3 {
        width: 40%;
        border-radius: 5px;
        background-color: var(--cor-4);
        color: var(--cor-3);
        margin-top: 2em;
        margin-bottom: 2em;
        min-width: 200px;
    }

    .blocoDados{
        justify-content: start;
        width: 90%;
    }

    .dados3{
        background-color: transparent;
        border: 2px solid var(--cor-4);
    }

    #SRD{
        margin-left: 45%;
        width: 55%;
        margin-top: -600px;    
    }

    #imgMockup{
        width: 60%;
        margin-top: 0%;
        margin-right: 40%;
    }
    
    .text{
        margin-top: 2em;
        width: 50%;
        color: var(--cor-3);
        font-size: clamp(2em, 1.3rem + 4vw, 7em);
        font-weight: 300;
        line-height: 1em;
    }

    #explaining{
        width: 80%;
        font-size: 2em;   
        font-weight: 200; 
        font-size: clamp(.5em, .2rem + 2vw, .4em);
        line-height: 1em;
    }

}
  
  /* 1024px - 1200px = desktop */
  @media (min-width: 1024px) {
    #title{
        font-size: 4em;
    }
    #conteudoCapa{
        margin-top: 10em;
        width: 45%;
    }

    #imgMockup{
        width: 50%;
        margin-top: 0%;
        margin-right: 45%;
    }

    
    #SRD{
        margin-left: 45%;
        width: 55%;
        margin-top: -700px;   
        margin-bottom: 2em; 
    }

}
  
  /* 1200 e + = telas maiores, tvs */
@media (min-width: 1200px) {
    #title{
        font-size: clamp(4em, 1.8em + 3vw, 6em);
    }

    #sobre{
        width: 100%;
        margin-top: 1em;
        font-size: 1.5em;
        line-height: 1em;
    }
    #downloadButton{
        padding: 3% 25%;
    } 
    #conteudoCapa {
        margin-top: 15%;
        width: 40%;
    }

    .dados1, .dados2, .dados3 {
        width: 35%;
        border-radius: 5px;
        background-color: var(--cor-4);
        color: var(--cor-3);
        margin-top: 3em;
        margin-bottom: 2em;
        min-width: 200px;
    }

    .blocoDados{
        justify-content: start;
        width: 90%;
    }

    .dados3{
        background-color: transparent;
        border: 2px solid var(--cor-4);
    }

    #dados{
        font-size: 1.5em;
        font-weight: 300;
    }

    .conteudoDados{
        padding: 15px;
    }

    #SRD{
        margin-left: 50%;
        width: 50%;
        margin-bottom: 2em; 
    }
}
