@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --cor-1: #FF6C1A;
    --cor-2: #A413FF;
    --cor-3: #111111;
    --cor-4: #f2f2f2;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--cor-4);   
}

.capa, .conversao{
    height: 100%;
}

#imgCapa{
    width: 100% ;
    position: relative;
    z-index: -2;
    top: 0;

}

#conteudoCapa{
    width: 45%;
    margin-left: 5em;
    margin-top: 10em;
    position: absolute;
    top: 0;
}

#title{
    font-size: clamp(2em, 1.3rem + 4vw, 7em);
    font-family: Inter;
    font-weight: 300;
    line-height: 1em;

}

#sobre{
    font-size: max(1.3rem + 1vw, 1em);
    font-weight: 200;
}

#downloadButton{
    background-color: var(--cor-1);
    color: var(--cor-4);
    padding: 3% 20%;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
    transition: .2s ease-in-out;
}

#downloadButton:hover{
    background-color: var(--cor-2);
    cursor: pointer;
}

.second{
    background-color: var(--cor-4);
    display: flex;
    justify-content: end;
    height: 980px;
}

.text{
    margin-top: 2em;
    width: 50%;
    color: var(--cor-3);
    font-size: clamp(2em, 1.3rem + 4vw, 7em);
    font-weight: 300;
    line-height: 1em;
}

#explaining{
    width: 70%;
    font-size: 1em;   
    font-weight: 200; 
    font-size: clamp(.3em, .2rem + 2vw, .4em);
    line-height: .8em;
}

#imgEnd{
    width: 100% ;
    position: relative;

}

#conteudoFinal{
    width: 45%;
    margin-left: 5em;
    position: absolute;
    margin-top: -35%;
}

#span{
    margin-top: 5em;
}



@media screen and (max-width: 800px) {
    #conteudoCapa{
        width: 90%;
        margin-left: 2em;
        margin-top: 10em;
    }
}

@media (min-width: 300px) {
    #title{
      font-size: 2.5em;
    }
    #downloadButton{
        padding: 3% 30%;
        margin-bottom: 1em;
    } 
    #conteudoCapa{
        margin-top: 90%;
    }
    #sobre{
        font-size: 1.2em
    }
    #conteudoFinal{
        margin-top: -100%;
        width: 80%;
    }
    .conversao{
    
        margin-left: -10%;
    }
}

@media (min-width: 410px) {
    #conteudoCapa{
        margin-top: 110%;
    }

    #conteudoFinal{
        margin-top: -80%;    
    }
}


@media (min-width: 480px) {
    #title{
      font-size: 3em;
    }
    #downloadButton{
        padding: 3% 40%;
        mask-type: 1em;
    } 
    #conteudoCapa{
        margin-top: 90%;
    }
    #sobre{
        font-size: 1.5em
    }
    #conteudoFinal{
        margin-top: -80%;
        width: 70%;
        margin-left: 20%;
     
    }
}
  
  /* 768px - 1024px = telas menores, laptops */
@media (min-width: 768px) {
    #title{
        font-size: 3em;
    }
    #sobre{
        font-size: 1.5em
    }
    #conteudoCapa{
        margin-top: 8em;
        width: 40%;
    }

    #conteudoFinal{
        margin-top: -40%;
        width: 40%;
        margin-left: 15%;
    }

}
  
  /* 1024px - 1200px = desktop */
  @media (min-width: 1024px) {
    #title{
        font-size: 4em;
    }
    #conteudoCapa{
        margin-top: 10em;
        width: 45%;
    }
}
  
  /* 1200 e + = telas maiores, tvs */
@media (min-width: 1200px) {
    #title{
        font-size: clamp(4em, 1.8em + 3vw, 6em);
    }

    #sobre{
        width: 100%;
        margin-top: 1em;
        font-size: 1.5em;
        line-height: 1em;
    }
    #downloadButton{
        padding: 3% 25%;
    } 
    #conteudoCapa {
        margin-top: 15%;
        width: 40%;
    }
}
